[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
psycopg2-binary = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
sqlalchemy = "*"
requests = "*"
geopy = "*"
flask-wtf = "*"
passlib = "*"
gunicorn = "*"
camelcase = "*"

[dev-packages]

[requires]
python_version = "3.9"
