{% extends 'layout.html' %}

{% block body %}
    <div class="text-left">
        <a class="btn btn-dark btn-sm" href="#" onclick="window.history.go(-1); return false;"> &lt;&lt; Back to previous page</a>
    </div>
    <div class="justify-content-end text-end">
        <strong>Usage: {{ props["usage"] }}/{restaurant_id}</strong> 
        <a class="btn btn-outline-dark btn-sm" href="{{ props['usage'] }}/{{ resto.id }}"> Get JSON file</a>
    </div>
    <h3>{{ resto.name }} Menus</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
        
            {% set count = namespace(value=1) %}
        
            {% for result in results: %}
                <tr>
                    <td>{{ count.value }}</td>
                    <td>{{ result.name }}</td>
                    <td>${{ "{:,}".format(result.price) }}</td>
                </tr>

                {% set count.value = count.value + 1 %}

            {% endfor %}
        </tbody>
    </table>
{% endblock %}

<script>
    document
        .getElementById('go-back')
        .addEventListener('click', () => { 
            history.back(); 
    });
</script>