{% extends 'layout.html' %}

{% block body %}
<form action="" method="POST">
        <em>Range price on minimum:</em>
        <input
                type="text"
                name="minprice"
                placeholder="e.g. 50"
                class="form-control"
        />
        <br>
        <em>maximum:</em>
        <input
                type="text"
                name="maxprice"
                placeholder="e.g. 500"
                class="form-control"
        />
        <br>
        <input type="submit" value="Submit" class="btn btn-primary" />
</form>
{% endblock %}