{% extends 'layout.html' %}

{% block body %}
<form action="" method="POST">
        <em>Start date with format YYYY-MM-DD:</em>
        <input
                type="text"
                name="start_date"
                placeholder="e.g. 2020-01-01"
                class="form-control"
        />
        <br>
        <em>End date with format YYYY-MM-DD:</em>
        <input
                type="text"
                name="end_date"
                placeholder="e.g. 2020-12-31"
                class="form-control"
        />
        <br>
        <input type="submit" value="Submit" class="btn btn-primary" />
</form>
{% endblock %}